.me-auto a{
    text-decoration: none;
    padding-right: .5em;
    color: white;
    margin-right: 10px;
}

.active__link{
    background-color: rgba(240, 255, 255, 0.283);
    padding: 4px 8px;
    border-radius: 4px;
}